.navbar-nav a:hover{
    color: antiquewhite;
}

.fthead{
    text-align: center;
    color: #1d3836;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Frank Ruhl Libre', serif;
}

.card_pos{
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}



.submit_button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    margin-left: 25px;
    background-color: rgb(196, 180, 177);
}

.submit_button:hover{
    background-color: rgb(67, 124, 119);
    transition: 0.5s;
}

.list_style{
    list-style: none;
}

.footer_link{
    color: black;
    text-decoration: none;
    
}

.footer_link:hover{
    color: antiquewhite;

}